    {% for arg in args %}
    def test_{{arg.name}}():
        actual = self.client.generic(
            {{arg.request.method}},
            {{arg.request.path}},
            {{arg.request.data}}
        )
        expected = {{arg.expectation}
        verify_pact(expected, actual)
    {% endfor %}
