    {% for arg in args %}
    def test_{{arg.name}}(self):
        raw_actual_response = self.client.generic(
            "{{arg.request.method}}",
            "{{arg.request.path}}",
            json.dumps({{arg.request.data}})
        )
        actual = Response.from_django_response(raw_actual_response)

        raw_expected_response = {{arg.expectation}}
        expected = PactResponse(**raw_expected_response)

        success = verify_response("{{consumer_name}}", "{{provider_name}}", expected, actual)
        self.assertTrue(success)
    {% endfor %}
